build/
.gradle/
bin/

src/main/java/it/unibo/smartcity/controller/impl/ConnectionInfo.java

# Ignore VSCode settings
.vscode

# Ignore TeXworks files
*.synctex.gz
report/*.log
report/*.aux
report/*.out
report/*.toc

# Other files
*.tmp
